@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: blueviolet;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 30px 20px 110px 20px;
}

h1 {
    color: white;
    font-family: 'Satisfy', cursive;
}

#inputTask {
    margin-top: 15px;
    padding: 5px;
    padding-right: 120px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.addBtn {
    background-color: rgb(8, 241, 8);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
}

ul li:hover {
    background: #ddd;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.close:hover {
    background-color: whitesmoke;
    color: white;
}

.done {
    position: absolute;
    right: 40px;
    top: 0;
    padding: 10px;
}

.done:hover {
    background-color: whitesmoke;
    color: white;
}