* {
    box-sizing: border-box;
}

.header {
    background-color: yellow;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
}

ul li:hover {
    background: #ddd;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.close:hover {
    background-color: whitesmoke;
    color: white;
}

.done {
    position: absolute;
    right: 40px;
    top: 0;
    padding: 10px;
}

.done:hover {
    background-color: whitesmoke;
    color: white;
}